build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: text
  content: |2-
     #/bin/sh
     
    docker-compose -f docker-compose.yaml up -d
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: docker-compose.yaml
lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2023-02-23T06:40:02.342Z
