app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: text
  content: |
    #/bin/sh

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},registry=zbio,namespace=${ROOST_NAMESPACE}"

    helm upgrade roostsample-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
app_test:
  - name: ec
    configType: cypress
    configPath: service-test-suite/election-commission
  - name: voter
    configType: cypress
    configPath: service-test-suite/voter
  - name: ecserver
    configType: artillery
    configPath: ecserver/test/test.yaml
  - name: ballot
    configType: artillery
    configPath: ballot/test/test.yaml
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Harish ZBIO
lastUpdatedOn: 2022-10-18T08:52:19.769Z
